<h1>
  List of all courses
</h1>

<hr>

<form action="/insert_course" method="post">
  <div>
    <label for="title_box">
      Title
    </label>

    <input type="text" id="title_b" name="q_title">
  </div>

  <div>
    <label for="term_offered_box">
      Term offered
    </label>

    <input type="text" id="term_offered_box" name="query_term">
  </div>

  <div>
    <label for="department_id_box">
      Department
    </label>

    <select id="department_id_box" name="query_department_id">
      <% Department.order({ :name => :asc }).each do |a_department| %>
        <option value="<%= a_department.id %>">
          <%= a_department.name %>
        </option>
      <% end %>
    </select>
  </div>

  <button>
    Create course
  </button>
</form>

<hr>

<table class="table" border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Title
    </th>

    <th>
      Term offered
    </th>

    <th>
      Department
    </th>

    <th>
    </th>
  </tr>

  <% @courses.each do |course| %>
    <tr>
      <td>
        <%= course.id %>
      </td>

      <td>
        <%= course.title %>
      </td>

      <td>
        <%= course.term_offered %>
      </td>

      <td>
        <% department = Department.where({ :id => course.department_id }).at(0) %>
        <a href="/departments/<%= department.id %>"><%= department.name %></a>
      </td>

      <td>
        <a href="/courses/<%= course.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>

<hr>
